In [9]:
import numpy as np
import pandas as pd

## Series

In [7]:
labels = ['a', 'b', 'c']
my_data = [1, 2, 3]
d = {'a':1, 'b':2, 'c':3}

In [4]:
arr = pd.Series(data=my_data, index=labels)
arr

a    1
b    2
c    3
dtype: int64

In [5]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [6]:
pd.Series(d)

a    1
b    2
c    3
dtype: int64

## DataFrames

In [10]:
np.random.seed(101)

In [12]:
df = pd.DataFrame(data=np.random.randn(5,4),index=['A','B','C','D','E'], columns=['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [13]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [20]:
df['new'] = np.random.randn(5,1)
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  0.638787
B  0.651118 -0.319318 -0.848077  0.605965  0.329646
C -2.018168  0.740122  0.528813 -0.589001 -0.497104
D  0.188695 -0.758872 -0.933237  0.955057 -0.754070
E  0.190794  1.978757  2.605967  0.683509 -0.943406

In [21]:
df.drop('new', axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  0.638787
B  0.651118 -0.319318 -0.848077  0.605965  0.329646
C -2.018168  0.740122  0.528813 -0.589001 -0.497104
D  0.188695 -0.758872 -0.933237  0.955057 -0.754070
E  0.190794  1.978757  2.605967  0.683509 -0.943406

In [23]:
df.drop('new', axis=1, inplace=True)

In [24]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [25]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [27]:
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool